body {
    background-color: aliceblue;
}

.card {
    box-shadow: 0.5vh 0.5vh 0px rgba(0, 6, 86, 0.324);
    backdrop-filter: blur(5px);
    border: 2px solid #404cba;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #1a1f7c;
}

p {
    font-family: 'Quicksand', sans-serif;
}

#title {
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 5vh;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    text-align: center;
}